<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title国学堂</title>
    @Styles.Render("~/BootStarp/CSS")
    @Scripts.Render("~/BootStrap/js")
    <script src="~/Scripts/iconfont.js"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/"><svg class="icon" style="vertical-align: -0.55em;" aria-hidden="true">
    <use xlink:href="#icon-icon-test1"></use>
</svg>全唐诗</a>

                @*@Html.ActionLink("海顿物联网管理系统", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })*@
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("主页", "Index", "Home")</li>
                    <li>@Html.ActionLink("关于", "About", "Home")</li>
                    <li>@Html.ActionLink("联系方式", "Contact", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderSection("SubMenu", false)
        @RenderBody()
        <hr />

        <footer>

            <div class="row">
                <div class="col-md-12">


                </div>
                <div class="col-md-6">
                    <address>
                        <svg class="icon text-danger" aria-hidden="true">
                            <use xlink:href="#icon-diqiu"></use>
                        </svg> <strong>重庆圣天数码</strong><br>
                        <svg class="icon" aria-hidden="true">
                            <use xlink:href="#icon-shouji"></use>
                        </svg>
                        <abbr title="Phone">联系人：彭先生&nbsp;&nbsp;手机：153-101-67836</abbr><br>
                        

                        <svg class="icon" aria-hidden="true">
                            <use xlink:href="#icon-youjian"></use>
                        </svg><a href="mailto:#">15266320@qq.com</a><br />
                        <svg class="icon text-success" aria-hidden="true">
                            <use xlink:href="#icon-dizhi"></use>
                        </svg>重庆市九龙坡区石桥铺华宇名都29号楼
                    </address>


                </div>
                <div class="col-md-6">
                    <!--底部导航-->
                    <div class="row text-center">
                        <ul class="list-inline">


                            <!--<li><a href="javascript{void(0)}"><i class="iconfont text-info">&#xe610;</i></a></li>
                            <li><a href="javascript{void(0)}"><i class="iconfont text-danger">&#xe611;</i></a></li>
                            <li><a href="javascript{void(0)}"><i class="iconfont text-primary">&#xe60f;</i></a></li>-->
                            <li></li>
                        </ul>


                        <p>Copyright©&nbsp;&nbsp;All Rights Reserved&nbsp;&nbsp;<a href="http://www.cqgdbg.com/">圣天数码</a></p>
                        <p>渝ICP备12002506号-5</p>
                        <!--<a href="javascript{void(0)}"></a>-->
                    </div>
                    <!--底部导航-->



                </div>
            </div>

        </footer>
    </div>


    @RenderSection("scripts", required: false)
</body>
</html>
